.cardiologyhead{
    width: 100%;
    background-image: url(../Assets/img/Department/bg/cardiology.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(90%);
    height: 94vh;
}