.homepageleft {
    background-image: url(../Assets/img/SelectLogin/SelectLoginLeft.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(0.8);
}

.homepageleft:hover {
    filter: contrast(0.5);
    transition: 1s;
}

.homepageright {
    background-image: url(../Assets/img/SelectLogin/SelectLoginRight.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(0.6);
    cursor: pointer;
}

.homepageright:hover {
    opacity: 1;
    filter: contrast(0.5);
    transition: 1s;
}

.navbar {
    display: flex;
    justify-content: center;
}

.selectlogin {
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1020;
    width: 100%;
}

.circle {
    width: 38%;
    height: 558px;
    top: 200px;
    left: 630px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -10px;

}

.circle .doctor {
    width: 100%;
    height: 289px;
    background-image: url(../Assets/img/SelectLogin/Doctor.webp);
    border-top-left-radius: 45%;
    border: 2px solid white;
    background-size: cover;
    border-bottom: none;
    opacity: 0.7;
    object-position: center center;
}

.circle .doctor:hover {
    opacity: 1;
    transition: 1s;
}

.circle .medical {
    width: 100%;
    height: 289px;
    background-image: url(../Assets/img/SelectLogin/Medical.jpg);
    border-top-right-radius: 45%;
    border: 2px solid white;
    background-size: cover;
    border-bottom: none;
    border-left: none;
    opacity: 0.7;
}

.circle .medical:hover {
    opacity: 1;
    transition: 1s;
}

.circle .patient {
    width: 100%;
    height: 277px;
    background-image: url(../Assets/img/SelectLogin/Patient.jpg);
    border-bottom-right-radius: 39%;
    border-bottom-left-radius: 39%;
    background-size: cover;
    border: 2px solid white;
    opacity: 0.7;
}

.circle .patient:hover {
    opacity: 1;
    transition: 1s;
}

.health{
    background: none;
}
.flip {
    background-color: transparent;
    /* width: 300px;
    height: 300px; */
    perspective: 1000px;
  }
  
  .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip:hover .flip-inner {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .front {
    background-color: #bbb;
    color: black;
  }
  
  .back {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .health{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }