.Nav{
    z-index: 10;
}
.Navbar{
    width: 500px;
    height: 80px; 
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px; 
}
.Navbar h1{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding: 0 15px  ;
    background: linear-gradient(to right, #ff0062,
    #080cff, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}